<h2>Update a trip</h2>

<%= simple_form_for(@trip) do |f| %>
  <%= f.input :name %>
  <%= f.input :destination, id: "trip_destination" %>
  <%= f.input :start_date, as: :string, input_html: { id: "start-date" } %>
  <%= f.input :end_date, as: :string, input_html: { id: "end-date" } %>

  <%= f.button :submit, "Update", class: "btn btn-primary" %>

<% end %>

<%= link_to "< Back", trip_path(@trip), class: "btn btn-secondary"  %>

