<h1>All Trips</h1>
<p><%= @user.first_name %> <%= @user.last_name %>, <%= @user.administrator %></p>

<% @trips.each do |trip| %>
  <%= link_to trip.name, trip_path(trip) %>
<% end %>

<br><br><br><br>

<%= link_to "New trip", new_trip_path  %>
