<div class="container">

  <h1><%= @trip.name %></h1>

  <div class="d-flex justify-content-between">
    <div id="map"
           style="width: 400px; height: 600px; border: solid 5px grey;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="info">
      <p><%= @trip.destination %></p>
      <p><%= @trip.start_date %></p>
      <p><%= @trip.end_date %></p>
      <p><%= @trip.longitude %></p>
      <p><%= @trip.latitude %></p>
      <p><%= @markers %></p>


      <p><%= @trip.user.id %>) <%= @trip.user.first_name %> <%= @trip.user.last_name %></p>
      <p><%= @user.email %></p>


      <% if policy(@trip).edit? %>
        <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-warning" %>
      <% end %>

      <% if policy(@trip).destroy? %>
        <%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"  %>
      <% end %>

      <%= link_to "< Back", trips_path, class: "btn btn-secondary"  %>
    </div>
  </div>

  <hr><hr><hr>
  <h1>Lists</h1>

  <%= link_to "Add a list", new_trip_list_path(@trip, @list), class: "btn btn-primary" %>

  <% @trip.lists.each do |list| %> <!-- LISTA -->
    <div style="border:3px solid black; width:500px; height: 800px;" class="mb-5 p-3">
      <h3>#<%= list.title %></h3>
      <%= link_to "Edit list", edit_trip_list_path(@trip, list), class: "btn btn-secondary" %>
      <%= link_to "Delete list", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <hr>

      <!-- ITEMS -->
      <div class="items p-3">
        <%= link_to "Add item", new_trip_list_item_path(list.trip, list, @item), class: "mb-3" %>

        <% list.items.each do |item| %>
          <h5><%= item.name %></h5>
          <p><%= item.quantity %></p>
          <p><%= item.inside %></p>
          <%= link_to "Edit item", edit_trip_list_item_path(@trip, list, item), class: "btn btn-secondary" %>
          <%= link_to "Delete item", item_path(item), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
          <hr>
        <% end %>
      </div>
    </div>
  <% end %>




</div>
