<div class="container">

  <h1><%= @trip.name %></h1>

  <div class="d-flex justify-content-between">
    <div id="map"
           style="width: 400px; height: 600px; border: solid 5px grey;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="info">
      <p><%= @trip.destination %></p>
      <p><%= @trip.start_date %></p>
      <p><%= @trip.end_date %></p>
      <p><%= @trip.longitude %></p>
      <p><%= @trip.latitude %></p>
      <p><%= @markers %></p>


      <p><%= @trip.user.id %>) <%= @trip.user.first_name %> <%= @trip.user.last_name %></p>
      <p><%= @user.email %></p>


      <% if policy(@trip).edit? %>
        <%= link_to "Edit", edit_trip_path(@trip), class: "btn btn-warning" %>
      <% end %>

      <% if policy(@trip).destroy? %>
        <%= link_to "Delete", trip_path(@trip), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"  %>
      <% end %>

      <%= link_to "< Back", trips_path, class: "btn btn-secondary"  %>
    </div>
  </div>

  <hr><hr><hr>
  <h1>Lists</h1>



  <% if @lists.blank? %>
    <p>There is no list yet</p>

    <%= simple_form_for([@trip, @list], remote: true) do |f| %>
      <%= f.input :title %>

      <%= f.button :submit, "Add", class: "btn btn-primary" %>

    <% end %>
  <% else %>

    <%= simple_form_for([@trip, @list], remote: true) do |f| %>
      <%= f.input :title %>

      <%= f.button :submit, "Add", class: "btn btn-primary" %>

    <% end %>

    <div id="lists" class="d-flex justify-content-around">

    <% @lists.each do |list| %> <!-- LISTA -->
      <div id="list-<%= list.id %>" style="border:3px solid black; width:500px; height: 800px;" class="mb-5 p-3">
        <h3>#<%= list.title %></h3>
        <%= link_to "Edit list", edit_trip_list_path(@trip, list), class: "btn btn-secondary" %>
        <%= link_to "Delete list", list_path(list), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: "btn btn-danger" %>
        <hr>

        <!-- ITEMS -->
        <div id="items" class="p-3">
          <%= link_to "Add item", new_trip_list_item_path(list.trip, list, @item), class: "mb-3" %>

          <%= simple_form_for([@trip, list, @item], remote: true) do |f| %>
            <%= f.input :name %>
            <%= f.input :quantity %>
            <%= f.input :inside, as: :radio_buttons %>
            <%= f.button :submit, "Add", class: "btn btn-primary" %>
          <% end %>

          <% list.items.each do |item| %>
            <div id="item-<%= item.id %>" class="bordered">
              <h5><%= item.name %></h5>
              <p><%= item.quantity %></p>
              <p><%= item.inside %></p>
              <%= link_to "Edit item", edit_trip_list_item_path(@trip, list, item), class: "btn btn-secondary" %>
              <%= link_to "Delete item", item_path(item), method: :delete, remote: true, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    </div>


  <% end %>




</div>
